body {
  background-color: #1a1a26;
  overflow-y: hidden;
  color: white;
  font-family: "Bebas Neue", sans-serif;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

form {
  text-align: left;
  background-color: #17a098;
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

form div {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: xx-large;
}

input {
  width: 90%;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 10px;
  border-color: white;
  margin-top: 10px;
  height: 50px;
}

button {
  padding: 10px 60px;
  background-color: #71eac1;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  margin: 15px 35px;
  font-size: xx-large;
  color: white;
}

button:hover {
  filter: brightness(0.6);
}

.card {
  background-color: #17a098;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.card h2 {
  font-size: 35px;
}

.card p {
  font-size: 20px;
}

.imc-img {
  width: 100%;
  height: auto;
  max-width: 95%;
}

.IMCmargin {
  margin-bottom: 40px;
}
